.index-main-list {
    display: flex;
    align-items: center;
}

.index-main-list div {
    width: 20%;
    height: 200px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151537;
}
.index-main-list div:first-of-type {
    width: 60%;
}
/* nav div.wrapper{
  background-color:black;
} */
