.index-main-list {
    display: flex;
    align-items: center;
    width: 100%;
    margin: auto 5%;
}

.index-main-list div {
    width: 30%;
    height: 300px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    background-color: #151537;
    margin-left: 0;
}
.index-main-list div:first-of-type {
    width: 60%;
    margin-right: 0;
    justify-content: right;
}
.index-main-list div:first-of-type img {
    height: 50%;
}

.home-categories-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.home-categories-row {
    flex-direction: row;
}
  
.home-categories-list div {
    width: 47%;
    background-color: #151537;
    display: flex;
    /* justify-content: center; */
    align-items: normal;
    margin: 5px auto;
}

.gameBox {
    padding: 5px;
    height: 200px;
}
.gameBox img {
    height: 100%;
    object-fit: contain;
    margin-right: 0;
    justify-self: left;
}

.gameBox h3 {
    margin-left: 0;
    text-align: center;
    width: 100%;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}